.img-header{
     transform: translateX(-200px);
}

.bg-clients{
    background-image: url('../assets/bg-content.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-form{
    background-image: url('../assets/bg-form.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.form-email{
    padding: 14px;
    padding-left: 16px;
    padding-right: 50px;
    border: 1px solid grey;
    transition: 300ms;
    width: 350px;
    border-radius: 8px;
}

.form-email:focus{
    outline: none;
    box-shadow: 5px 3px 10px #2F5BEA;
}

.xs-block{
    display: none;
}
.container {
    margin-top: 10px;
    margin-bottom: 10px;
}

.container.flex.small-screen {
    display: flex;
    flex-wrap: wrap;
}

.container.grid-small-screen {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.flex-space {
    align-items: center;
    justify-content: space-evenly;
}

/* || Desktop screen */
@media screen and (min-width: 700px) {
    .container.flex {
        display: flex;
        flex-wrap: wrap;
    }

    .container.flex .text-section {
        flex: 1;
        margin-right: 5px;
    }

    .container.flex .image-section {
        flex: 1;
        margin-left: 5px;
    }

.display-header{
    display: none;
}

.display-space{
    display: block;
}
.text-center {
    text-align: center;
}
